{% extends "base.html" %} {% block content %}
<main>
  <section class="about">
    <div class="container">
      <div class="card">
        <!--Section: Products-->
        <h1>about</h1>
        <p>
          My name is Jason and I currently am a college sophomore. This past
          semester, I was unable to go back to campus, so I decided to act on an
          idea for a brand I have been drawing up for a while called “a better
          tomorrow.” A better tomorrow was founded when coronavirus first came
          to the United States. This virus forced schools and businesses across
          the nation to shut down. This meant that millions of people were left
          without jobs, and employment numbers hit an all-time high. With these
          unprecedented times, I decided to take action. With hospitals and
          individuals running out of personal protective equipment and funds, I
          realized I had to not only support those on the front lines but
          everyone affected by the virus. From there, a better tomorrow. was
          born, and giving back became the central value. With a portion of the
          profits going directly to help and support others, a better tomorrow.
          hopes to make fashion not only look good, but feel good as our
          customers help support others. Please feel free to contact me via
          email (abtomorrow1@gmail.com) to talk with me about concerns, issues,
          or ideas!
        </p>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
