{% extends "base.html" %} {% block content %} {% load static %}
<main class="mt-5 pt-4" id="product">
  <div class="container mt-5">
    <!--picture-->
    <div class="col-md-6 mb-4 card" id="product-picture">
      {% for image in item.get_sorted_images %}
      <div class="mySlides">
        <img src="{{ image.image.url }}" style="width: 100%" />
        <div class="numbertext">
          {{forloop.counter}}/{{item.get_sorted_images|length }}
        </div>
      </div>
      {% endfor %}
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <!--picture-->

    <!--description-->
    <div class="col-md-6 mb-4">
      <!--Content-->
      <div class="p-4">
        <p class="product-title">{{object.title}}</p>

        <p class="product-description">{{object.description}}</p>
        <p class="product-price">
          <span>${{ item.price }}</span>
        </p>

        <select
          id="size_selector"
          name="size"
          required
          onchange="size_selected(this)"
        >
          <option value="none" selected disabled hidden>select size</option>
          <option value="0">S</option>
          <option value="1">M</option>
          <option value="2">L</option>
          <option value="3">XL</option>
        </select>

        <button id="add_to_cart" class="btn btn-primary btn-lg my-0 p">
          add to cart
          <i class="fas fa-shopping-cart ml-1"></i>
        </button>
        <button id="sold_out" class="btn btn-danger btn-lg my-0 p">
          sold out
        </button>
      </div>
      <!--Content-->
    </div>
    <!--description-->
    <!--Grid row-->
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    $("#sold_out").hide();
    var token = "{{ csrf_token }}";
    const button = document.querySelector("#add_to_cart");
    button.addEventListener("click", () => {
      var serializedData = $("select").serialize();
      $.ajax({
        headers: { "X-CSRFToken": token },
        type: "POST",
        url: "{% url 'core:product' item.slug %}",
        data: serializedData,
        success: function (response) {
          document.location.href = "{% url 'core:order-summary' %}";
        },
        error: function (response) {
          alert(response["responseJSON"]["error"]);
        },
      });
    });

    function size_selected(obj) {
      var size = obj.value;
      var serializedData = $("select").serialize();
      $.ajax({
        headers: { "X-CSRFToken": token },
        type: "GET",
        url: "{% url 'core:get-inventory' item.slug %}",
        data: serializedData,
        success: function (response) {
          if (response["in_stock"]) {
            $("#add_to_cart").show();
            $("#sold_out").hide();
          } else {
            $("#sold_out").show();
            $("#add_to_cart").hide();
          }
        },
        error: function (response) {
          alert(response["responseJSON"]["error"]);
        },
      });
      console.log("sent");
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides((slideIndex += n));
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides((slideIndex = n));
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      if (n > slides.length) {
        slideIndex = 1;
      }
      if (n < 1) {
        slideIndex = slides.length;
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex - 1].style.display = "block";
    }
  </script>
</main>
<!--Main layout-->

{% endblock content %}
