html,
body,
.view {
  height: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #596e79;
}
form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}

.result-message {
  line-height: 22px;
  font-size: 16px;
}

.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}

.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

#payment-request-button {
  margin-bottom: 32px;
}

button .stripe {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
img {
  max-width: 100%;
  width: 100%;
}
ul {
  /* to override bootstraps default of 1rem*/
  margin-bottom: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

#bootstrap-override .container {
  max-width: 120rem;
  margin: 0 auto;
}

#bootstrap-override.nav {
  z-index: 10;
}

@media only screen and (max-width: 1500px) {
  #bootstrap-override.nav {
    width: 100%;
  }
  #bootstrap-override .container {
    padding: 0 3rem;
  }

  #bootstrap-override .container-md {
    padding: 0 3rem;
  }
}

/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--grey-alt);
  overflow: hidden;
}

#bootstrap-override.nav {
  padding: 1.6rem 0;
  max-height: 5rem;
  align-content: center;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#bootstrap-override.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#bootstrap-override.nav.fix-nav .nav-link,
#bootstrap-override.nav.fix-nav .logo,
#bootstrap-override.nav.fix-nav .cart-icon,
#bootstrap-override.nav.fix-nav .hamburger {
  color: grey;
  font-weight: 500;
}

#bootstrap-override .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(174, 182, 187);
  /* background-color: rgba(0, 0, 0, 0.5); */
}

#bootstrap-override .logo {
  font-size: large;
}

#bootstrap-override .navigation .nav-list {
  display: flex;
  align-items: center;
  font-size: large;
}

#bootstrap-override .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

#bootstrap-override .nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

#bootstrap-override .nav-link.icon {
  font-size: 3rem;
}

#bootstrap-override .top-nav {
  display: none;
}

#bootstrap-override .hamburger {
  display: none;
}

#bootstrap-override .cart-icon {
  display: none;
}

#bootstrap-override > div {
  color: white;
}

@media only screen and (max-width: 768px) {
  #bootstrap-override .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: whitesmoke;
    transition: all 500ms ease-in-out;
    z-index: 100;
    color: rgb(174, 182, 187);
  }

  #bootstrap-override .menu.show {
    left: 0;
  }

  #bootstrap-override .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #596e79;
    padding: 1rem 1.6rem;
  }

  #bootstrap-override .navigation .top-nav .logo {
    color: rgb(174, 182, 187);
  }

  #bootstrap-override .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  #bootstrap-override .cart-icon {
    display: block;
    font-size: 3rem;
  }

  #bootstrap-override .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  #bootstrap-override .nav-link:link,
  #bootstrap-override .nav-link:visited {
    display: block;
    font-size: 2.25rem;
    padding: 1rem 0;
  }

  /* #bootstrap-override.nav.fix-nav .nav-link {
    color: #243a6f;
  } */

  #bootstrap-override .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  #bootstrap-override body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 4;
  }

  #bootstrap-override.nav.show {
    background-color: rgba(0, 0, 0, 0.39);
  }

  #bootstrap-override .nav-link.icon {
    display: none;
  }
}
/* Hero */

main#home {
  padding-top: 0;
}

main#home .hero {
  position: relative;
  display: flex;
  justify-content: center left;
  align-items: center;
  height: 100vh;
  width: 100%;
  opacity: 1;
}

main#home .hero::before {
  background-image: url("../bannerwide.jpeg");
  opacity: 0.9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

main#home .hero .hero-content {
  position: relative;
  left: 20%;
}

main#home .hero .hero-content h1 span {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  color: white;
}

main#home .hero .hero-content a {
  padding: 0.5rem;
  font-size: 1.75rem;
  color: white;
  border-style: solid;
  border-color: white;
}

@media only screen and (max-width: 1200px) {
  main#home .hero .hero-content h1 span {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  main#home .hero .hero-content {
    position: relative;
    left: 10%;
    top: 10%;
  }

  main#home .hero .hero-content h1 span {
    font-size: 3rem;
  }

  main#home .hero .hero-content a {
    padding: 1rem;
    font-size: 1.75rem;
    color: white;
    border-style: solid;
    border-color: white;
  }
}

#footer .footer-copyright {
  font-size: 1.25rem;
}

/* mission statement */
#mission {
  margin: 2rem;
}

#mission .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#mission .statement {
  max-width: 500px;
  color: grey;
}
#mission .picture {
  max-width: 500px;
  margin: 3rem;
}

@media only screen and(max-width: 996px) {
  section#mission .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

main {
  background-color: whitesmoke;
  z-index: -10;
  min-height: 100%;
  margin-top: 0 !important;
  padding-top: 70px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

/* order summary  start */

#order-summary button {
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  vertical-align: middle;
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  border: 0;
  appearance: none;
  cursor: pointer;
  color: #fff;
  margin: 0;
  font-weight: 500;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  font-size: 12px;
  padding: 17px 29px 16px 29px;
  line-height: 1;
}

#order-summary .card-body h5.mb-4 {
  font-size: 2rem;
  color: #4f4f4f;
  font-weight: 500;
}

#order-summary .card-body .rounded img {
  border-radius: 4%;
}

#order-summary .card-body .item-title {
  color: #4f4f4f;
  font-weight: 600;
  font-size: 1.5rem;
}

#order-summary .card-body .mb-0 strong {
  color: #4f4f4f;
  font-weight: 500;
  font-size: 1.25rem;
}

#order-summary .card-body div.quantity {
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  color: #4f4f4f;
}

#order-summary .card-body div.quantity span {
  border: 1px solid #4f4f4f;
  padding: 3px;
}
#order-summary .card-body div.quantity a.minus {
  margin-left: 2px;
}
#order-summary .card-body div.quantity a.plus {
  margin: 2px;
}

/* order summary  end  */

/* text on product */
main#products section.products {
  justify-content: center;
}

main#products div.container {
  min-width: 100%;
}

main#products div.container section.products div.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  min-width: 100%;
}
main#products section.products div div.card {
  position: relative;

  padding-right: 15px;
  padding-left: 15px;
  margin: 1.5rem;
  min-width: 280px;
  max-width: 380px;
  width: 100%;
}
@media only screen and(max-width: 1100px) {
  main#products section.products div div.card {
    min-width: 380px;
  }
}

main#products section.products div div.card .view {
  margin-top: 1rem;
}
#products .card-body h5 {
  color: #4f4f4f;
  font-size: 1.4rem;
  font-weight: 600;
}

#products .card-body h6 {
  font-size: 1.25rem;
  color: #4f4f4f;
  font-weight: 400;
}
/* text on product end */

/* product page  */
main#product .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main#product div#product-picture {
  /* padding-top: 2rem; */
  max-width: 500px;
  height: auto;
}

main#product p.product-title {
  font-size: 2.5rem;
  color: #4f4f4f;
}

main#product p.product-description {
  font-size: 1.5rem;
  color: #4f4f4f;
}

main#product p.product-price span {
  font-size: 1.5rem;
  color: #4f4f4f;
}
/* end product page */

/* start about page  */
main section.about {
  margin: 2rem;
  color: #4f4f4f;
}

main section.about .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
main section.about h1 {
  margin: 1rem;
  font-size: 3.25rem;
}

main section.about p {
  max-width: 500px;
  color: #4f4f4f;
  margin: 1rem;
  font-size: 2rem;
}

/* end about page  */

/* signup page */

section#sign-up,
section#sign-in,
section#sign-out {
  padding-top: 70px;
  color: black;
  display: flex;
  justify-content: center;
  height: 100%;
}

section#sign-up .card,
section#sign-in .card,
section#sign-out .card {
  width: fit-content;
  align-items: center;
  height: fit-content;
}

section#sign-up .card form,
section#sign-in .card form,
section#sign-out .card form {
  box-shadow: none;
  text-align: -webkit-center;
}

section#sign-up .card form button,
section#sign-in .card form button,
section#sign-out .card form button {
  font-size: 1.5rem;
  width: 40%;
}
/* signup page end  */
