html,
body,
.view {
  height: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929fba;
}
form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}

.result-message {
  line-height: 22px;
  font-size: 16px;
}

.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}

.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

#payment-request-button {
  margin-bottom: 32px;
}

button .stripe {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
img {
  max-width: 100%;
  width: 100%;
}
ul {
  /* to override bootstraps default of 1rem*/
  margin-bottom: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

#bootstrap-override .container {
  max-width: 120rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1500px) {
  #bootstrap-override.nav {
    width: 100%;
  }
  #bootstrap-override .container {
    padding: 0 3rem;
  }

  #bootstrap-override .container-md {
    padding: 0 3rem;
  }
}

/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--grey-alt);
  overflow: hidden;
}

#bootstrap-override.nav {
  padding: 1.6rem 0;
  max-height: 5rem;
  align-content: center;
  position: absolute;
  width: 100%;
}

#bootstrap-override.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #243a6f;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#bootstrap-override.nav.fix-nav .nav-link,
#bootstrap-override.nav.fix-nav .logo,
#bootstrap-override.nav.fix-nav .cart-icon,
#bootstrap-override.nav.fix-nav .hamburger {
  color: #fff;
  font-weight: 500;
}

#bootstrap-override .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#bootstrap-override .logo {
  font-size: x-large;
}

#bootstrap-override .navigation .nav-list {
  display: flex;
  align-items: center;
  font-size: x-large;
}

#bootstrap-override .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

#bootstrap-override .nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

#bootstrap-override .nav-link.icon {
  font-size: 3rem;
}

#bootstrap-override .top-nav {
  display: none;
}

#bootstrap-override .hamburger {
  display: none;
}

#bootstrap-override .cart-icon {
  display: none;
}

#bootstrap-override > div {
  color: white;
}

@media only screen and (max-width: 768px) {
  #bootstrap-override .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
    color: #243a6f;
  }

  #bootstrap-override .menu.show {
    left: 0;
  }

  #bootstrap-override .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243a6f;
    padding: 1rem 1.6rem;
  }

  #bootstrap-override .top-nav .logo {
    color: #fff;
  }

  #bootstrap-override .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  #bootstrap-override .cart-icon {
    display: block;
    font-size: 3rem;
  }

  #bootstrap-override .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  #bootstrap-override .nav-link:link,
  #bootstrap-override .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
  }

  #bootstrap-override.nav.fix-nav .nav-link {
    color: #243a6f;
  }

  #bootstrap-override .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  #bootstrap-override body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 4;
  }

  #bootstrap-override.nav.show {
    background-color: rgba(0, 0, 0, 0.39);
  }

  #bootstrap-override .nav-link.icon {
    display: none;
  }
}
/* Hero */

main#home {
  padding-top: 0;
}

main#home .hero .hero-content {
  position: absolute;
  top: 40%;
  left: 10%;
}
.header .hero-img {
  position: absolute;
  bottom: -10%;
  right: -5%;
  height: 70rem;
  object-fit: contain;
}

main#home .hero .hero-content h1 span {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .header .hero-img {
    right: -20%;
  }

  main#home .hero .hero-content {
    /* transform: translate(20%, -50%); */
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  main#home .hero .hero-content h1 span {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }

  .header .hero-img {
    height: 40rem;
    right: -10%;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header .hero-img {
    height: 40rem;
    bottom: -15%;
  }

  main#home .hero .hero-content {
    top: 40%;
    /* transform: translate(15%, -50%); */
  }

  .header .hero-img {
    right: 0%;
  }

  main#home .hero .hero-content h2 {
    font-size: 1.8rem;
  }

  main#home .hero .hero-content h1 span {
    font-size: 2rem;
  }

  main#home .hero .hero-content a {
    padding: 1rem 3rem;
  }
}

#footer .footer-copyright {
  font-size: 1.25rem;
}

#mission {
  margin: 2rem;
}

#mission .container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#mission .statement {
  max-width: 500px;
}
#mission .picture {
  max-width: 500px;
  margin: 3rem;
}

@media only screen and(max-width: 996px) {
  #mission .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

main {
  background-color: rgba(84, 107, 121, 0.411);
  padding-top: 70px;
  z-index: -1;
}
